# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# PyTorch model files
*.pth
*.pt

# Logs and temporary files
*.log
*.tmp
